modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]
publicDir = "dist/public"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BNLwibTpIB1gFseGZWS7YVJz17jIT895dgAgLbXE4fp9hM7M8OG6-a47CM9XpfW9wEzN7Vh158yfg6LZqPGpz1o"
VAPID_PRIVATE_KEY = "ey5V5P14TSfXSIpCZSEiMaGLgdDB3Z-mZQ5x0OL_WfY"
VAPID_SUBJECT = "mailto:admin@zrf.rugby"
